*{
    margin: 0;
    padding: 0;
}
@keyframes pred {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background: linear-gradient(to top, #3c1fe1 30%, #250f85 70%, #210deb 80%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body::-webkit-scrollbar { 
    display: none; 
}

.block1 {
    overflow: hidden;
}

.header {
    animation: pred 3s;
    display: flex;
    width: 97%;
    justify-content: space-between;
    z-index: 2;
}

#back-block1 {
    position: absolute;
    background-color: #00000011;
    width: 100%;
    height: 200%;
    z-index: 1;
    transform: rotate(43deg);
    margin: -18% 0 0 -70%;
}

#back-block2 {
    position: absolute;
    background-color: #00000011;
    width: 100%;
    height: 200%;
    z-index: 1;
    transform: rotate(43deg);
    margin: 15% 0 0 -80%;
}

.sb {
    height: 48%;
    background-color: white;
    padding: 0 3%;
    color: #3726d7;
    font-size: calc(100vw / 40);
    float: left;
    margin: 15%;
    z-index: 2;
}

#sb1 {
    width: 5%;
    height: 1%;
    float: left;
    position: relative;
    line-height: 1;
    top: 42%;
    right: 12%;
    font-size: calc(100vw / 95);
    z-index: 2;
}

.main-button {
    width: 2%;
    left: 95%;
    margin-top: 30px;
    height: 5%;
}

#link {
    display: flex;
    flex-direction: column;
    transition: all .55s ease-in-out;
}

.line-main {
    width: 100%;
    background-color: #87f3d8;
    height: 2px;
}

.line-main:nth-child(2) {
    margin: 30% 0;
}

#link:hover {
    transform: rotate(360deg);
}

.predictive {
    animation: pred 3s;
    padding: 18% 8% 15% 8%;
    text-align: center;
    position: relative;
    font-size: 200%;
    font-size: calc(100vw / 60);
    z-index: 2;
}

#pr2 {
    font-size: calc(100vw / 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c6dcfc;
    z-index: 2;
}

#kb1 {
    width: 7%;
    margin: 0 0 1% 50%;
}

.block2 {
    display: flex;
    justify-content: space-between;
    padding: 10% 5%;
    overflow: hidden;
    z-index: 2;
}

#kb2 {
    width: 45%;
    height: 45%;
    margin-right: 3%;
    opacity: 0;
    transition-duration: 2s;
}

.technology-bilds {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 8%;
    font-size: calc(100vw / 40);
    z-index: 2;
}

.tx {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tx1 {
    margin-left: 15%;
}

#tx4 {
    margin-right: 15%;
}

#tx5 {
    flex-direction: row;
}

.anime-line {
    position: absolute;
    height: 1%;
}

#anime-1 {
    margin: -11.5% 0 0 11.5%;
    width: 50%;
    transform: rotate(133deg);
}

#line_1 {
    height: 2px;
    background: linear-gradient(to left, #87f3d8, #5c3cff00);
    position: absolute;
    transition-duration: 3s;
}

#anime-2 {
    width: 20%;
    transform: rotate(133deg);
    margin: 6% 0 0 -4%;
}


#line_2 {
    height: 2px;
    background-color: #87f3d8;
    position: absolute;
    transition-duration: 3s;
}

#anime-3 {
    width: 20%;
    margin: 8.3% 0 0 4.3%;
}

#line_3 {
    height: 2px;
    background-color: #87f3d8;
    position: absolute;
    transition-duration: 3s;
}


.start-bt {
    background: linear-gradient(to right, #970cff, #5d3cff);
    font-size: calc(100vw / 70);
    text-transform: uppercase;
    color: white;
    border:  0;
}

#bt1 {
    padding: 3% 10%;
    margin: 18% 0 0 45%;
    transition-duration: 2s;
    opacity: 0;
}

.block3 {
    margin-top: 10%;
}

#line_4, #line_5, #line_6, #line_7, #line_8, 
#line_9, #line_10, #line_11, #line_12, #line_13, 
#line_14, #line_15 {
    height: 2px;
    background-color: #87f3d8;
    position: absolute;
    transition-duration: 2s;
    z-index: 5;
}

#line_7 {
    transition-duration: 3s;
}

#anime-4 {
    width: 20%;
    transform: rotate(-91deg);
    margin: -6.1% 0 0 62.5%;
}

#line_15 {
    background: linear-gradient(to right, #87f3d8, #5c3cff00);
}

#anime-5 {
    width: 2%;
    margin: -7.3% 0 0 70.5%;
    transform: rotate(122deg);
}

#anime-6 {
    width: 2%;
    margin: -7.1% 0 0 71.7%;
    transform: rotate(58deg);
}

#anime-7 {
    width: 65%;
    transform: rotate(149deg);
    margin: 13.7% 0 0 -6.7%;
}

.you-need-growth {
    float: left;
    width: 50%; 
    overflow: hidden;
    
}

#y_n_g {
    padding: 10% 0 0 40%;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(100vw / 95);
    transition-duration: 3s;
}

.yellow-text {
    color: yellow;
    text-transform: uppercase;
    font-size: calc(100vw / 85);
}

.white-h1-text {
    font-size: calc(100vw / 30);
}

#kb3 {
    width: 30%;
    transition-duration: 2s;
    z-index: 1;
}

.peole-buy {
    float: right;
    width: 40%;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(100vw / 95);
    padding: 3% 15% 20% 0;
    transition-duration: 3s;
}

.block4 {
    margin-top: 30%;
    overflow: hidden;
}

#kb4 {
    width: 20%;
    margin-left: 15%;
    transition-duration: 2s;
}

#anime-8 {
    width: 30%;
    transform: rotate(30deg);
    margin: -1% 0 0 -3.2%;

}

#anime-9 {
    width: 7%;
    transform: rotate(-90deg);
    margin: 2.9% 0 0 21.6%;
}

#anime-10 {
    width: 7%;
    transform: rotate(-30deg);
    margin: -17.5% 0 0 34.7%;
}

#anime-11 {
    width: 2%;
    transform: rotate(90deg);
    margin: -18.4% 0 0 39.9%;
}

#anime-12 {
    width: 3%;
    margin: -17.3% 0 0 41.1%;
}

#anime-13 {
    width: 13%;
    margin: -17.3% 0 0 75%;
}

#anime-14 {
    width: 15%;
    transform: rotate(90deg);
    margin: -10% 0 0 80.3%;
}

#anime-15 {
    width: 45%;
    transform: rotate(135deg);
    margin: 13.2% 0 0 49.5%;
}

.block5 {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    z-index: 2;
}

.ready-to-start {
    width: 50%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

#first {
    font-size: calc(100vw / 25);
}

#liner {
    width: 0%;
    margin: 2%;
    height: 3px;
    background: radial-gradient(50% 100%, #87f3d8, #960cff00);
    transition-duration: 2s;
    z-index: 2;
}

#bt2 {
    padding: 3% 10%;
    margin: 2% 0 50% 0;
    transition-duration: 3s;
    z-index: 2;
}

#sb_end {
    height: 30%;
    font-size: calc(100vw / 15);
    padding: 3% 2% 0 1%;
}

.svg-tx {
    margin: 0 5% 0 4%;
    width: 0;
    transition-duration: 1s;
}