*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, #3813a5, #3d22e3) no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.header {
    display: flex;
    position: absolute;
    width: 97%;
    justify-content: space-between;
}


#sb {
    display: block;
    height: 50px;
    background-color: white;
    padding: 1% 5% 5% 0;
    color: #3726d7;
    font-size: 3em;
    float: left;
    margin: 15%;
    text-align: center;
}

#sb1 {
    display: block;
    width: 5%;
    height: 1%;
    float: left;
    position: relative;
    line-height: 1;
    top: 54px;
    right: 25px;
    font-size: 1,2em;
}

.main_button {
    width: 2%;
    left: 95%;
    margin-top: 30px;
    height: 5%;
}

#link {
    display: flex;
    flex-direction: column;
    transition: all .55s ease-in-out;
}

.line_main {
    width: 100%;
    background-color: #87f3d8;
    height: 2px;
}

.line_main:nth-child(2) {
    margin: 30% 0;
}

#link:hover {
    -webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.predictive {
    padding: 18% 8% 15% 8%;
    text-align: center;
    font-size: 200%;
    font-size: calc(100vw / 60);
}

#pr2 {
    font-size: calc(100vw / 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c6dcfc;
}

#kb1 {
    width: 7%;
    margin: 0 0 1% 50%;
}

.block2 {
    display: flex;
    justify-content: space-between;
    padding: 10% 5%;
    
}

#kb2 {
    width: 45%;
    padding-right: 3.5%;
}

.technology_bilds {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 8%;
    font-size: calc(100vw / 40);
}

.tx {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tx1 {
    justify-content: flex-end;
}

#tx4 {
    justify-content: flex-start;
}


