*{
    margin: 0;
    padding: 0;
}
@keyframes pred {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background: linear-gradient(to top, #3c1fe1 20%, #250f85 70%, #210deb 80%) no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body::-webkit-scrollbar { 
    display: none; 
}

.header {
    animation: pred 3s;
    display: flex;
    position: absolute;
    width: 97%;
    justify-content: space-between;
}


.sb {
    height: 48%;
    background-color: white;
    padding: 0 3%;
    color: #3726d7;
    font-size: calc(100vw / 40);
    float: left;
    margin: 15%;
}

#sb1 {
    width: 5%;
    height: 1%;
    float: left;
    position: relative;
    line-height: 1;
    top: 42%;
    right: 12%;
    font-size: calc(100vw / 95);
}

.main_button {
    width: 2%;
    left: 95%;
    margin-top: 30px;
    height: 5%;
}

#link {
    display: flex;
    flex-direction: column;
    transition: all .55s ease-in-out;
}

.line_main {
    width: 100%;
    background-color: #87f3d8;
    height: 2px;
}

.line_main:nth-child(2) {
    margin: 30% 0;
}

#link:hover {
    -webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.predictive {
    animation: pred 3s;
    padding: 18% 8% 15% 8%;
    text-align: center;
    font-size: 200%;
    font-size: calc(100vw / 60);
}

#pr2 {
    font-size: calc(100vw / 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c6dcfc;
}

#kb1 {
    width: 7%;
    margin: 0 0 1% 50%;
}

.block2 {
    display: flex;
    justify-content: space-between;
    padding: 10% 5%;
}

#kb2 {
    width: 45%;
    height: 45%;
    margin-right: 3%;
    opacity: 0;
    transition-duration: 2s;
}

.technology_bilds {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 8%;
    font-size: calc(100vw / 40);
}

.tx {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tx1 {
    margin-left: 15%;
}

#tx4 {
    margin-right: 15%;
}

#tx5 {
    flex-direction: row;
}

.start_bt {
    background: linear-gradient(to right, #970cff, #5d3cff);
    font-size: calc(100vw / 70);
    text-transform: uppercase;
    color: white;
    border:  0;
}

#bt1 {
    padding: 3% 10%;
    margin: 18% 0 0 45%;
    transition-duration: 2s;
    opacity: 0;
}

.block3 {
    margin-top: 10%;
}

.you_need_growth {
    float: left;
    width: 50%; 
    overflow: hidden;
    
}

#y_n_g {
    padding: 10% 0 0 40%;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(100vw / 95);
    transition-duration: 3s;
}

.yellow_text {
    color: yellow;
    text-transform: uppercase;
    font-size: calc(100vw / 85);
}

.white_h1_text {
    font-size: calc(100vw / 30);
}

#kb3 {
    width: 30%;
    transition-duration: 2s;
}

.peole_buy {
    float: right;
    width: 40%;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(100vw / 95);
    padding: 3% 15% 20% 0;
    transition-duration: 3s;
}

.block4 {
    margin-top: 30%;
    overflow: hidden;
}

#kb4 {
    width: 20%;
    margin-left: 15%;
    transition-duration: 2s;
}

.block5 {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ready_to_start {
    width: 50%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#first {
    font-size: calc(100vw / 25);
}

#liner {
    width: 0%;
    margin: 2%;
    height: 3px;
    background: radial-gradient(50% 100%, #87f3d8, #960cff00);
    transition-duration: 2s;
}



#bt2 {
    padding: 3% 10%;
    margin: 2% 0 50% 0;
    opacity: 0;
    transition-duration: 3s;
}

#sb_end {
    height: 30%;
    font-size: calc(100vw / 15);
    padding: 3% 2% 0 1%;
}

.svg_tx {
    margin: 0 5% 0 4%;
    width: 0;
    transition-duration: 1s;
}